[{boss, [
    {path, "/home/colin/opt/ChicagoBoss"},
    {vm_cookie, "abc123"},
    {applications, [feedback]},
    {db_host, "localhost"},
    {db_port, 1978},
    {db_adapter, mock},
    % {db_adapter, mnesia},
    {log_dir, "log"},
    % {server, misultin},  % this doesn't work
    {server, mochiweb},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600},
    {smtp_server_enable, true},
    {smtp_server_port, 8025}  % non-standard mail port; remove this for production system
]},
{ feedback, [
    {path, "../feedback"},
    {base_url, "/"}
]}
].
